@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #F2F2F2;
}

* {
    box-sizing: border-box;
}